* {box-sizing: border-box}

/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #323232;
  width: 20%;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color:AliceBlue;
  padding: 22px 16px;
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #065800;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #0DB301;
  color:Black;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
}

body {
    background: #323232;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h1 {
    color:AliceBlue;
    position: flex;
    text-align: center;
}
h3 {
    color:AliceBlue;
    position: flex;
    text-align: center;
}
p {
    color:AliceBlue;
}
